@import "tailwindcss";

/* Light mặc định */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark theo class .dark */
.dark {
  --background: #0b0a10;
  --foreground: #ededed;
}

html,
body {
  min-height: 100%;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, Segoe UI, Roboto,
    sans-serif;
}
